ServicioHIS/Service References/WS_HIS/BiomedServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" targetNamespace="http://tempuri.org" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="proccessRequest" type="tns:proccessRequest" />
  <xs:element name="proccessRequestResponse" type="tns:proccessRequestResponse" />
  <xs:complexType name="proccessRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="data" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proccessRequestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:serviceResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>